<template>
  <div>
    <h1>hello world</h1>
    <p>
      これはサンプルページです<br />{{
        $route.query.id ? `ID =  ${$route.query.id}` : 'ID を指定してください'
      }}
    </p>
  </div>
</template>

<script>
export default {
  name: 'SampleTemplates',
}
</script>
